<link rel="stylesheet" type="text/css" href="/css/style.css">
<h1>
Jack's Poker App <br>
</h1>
<% require_relative "../poker_oob.rb" %>
<% redhand = Hand.new(nil) %>
<% blackhand = Hand.new(nil) %>
<% deck = Deck.new %>
<% deck.cards_in_deck = deck.shufflecards%>
<% redhand.draw(deck, 5) %>
<% blackhand.draw(deck, 5) %>
<% redhand.cards_in_hand.each do |card| %>
    <img width="80" height="100" src="/images/<%=card%>.png" alt="<%=card%> Card">
<% end %> <br>
<% redhandslated = handslator(redhand.cards_in_hand)%>
<% blackhandslated = handslator(blackhand.cards_in_hand)%>
Red Hand: <%= redhandslated[0]%>, <%= redhandslated[1]%>, <%= redhandslated[2]%>, <%= redhandslated[3]%>, <%= redhandslated[4]%><br> <%= handjudger(redhand)%><br>
<% blackhand.cards_in_hand.each do |card| %>
    <img width="80" height="100" src="/images/<%=card%>.png" alt="<%=card%> Card">

<% end %> <br>
Black Hand: <%=blackhandslated[0]%>, <%=blackhandslated[1]%>, <%=blackhandslated[2]%>, <%=blackhandslated[3]%>, <%=blackhandslated[4] %> <br> <%= handjudger(blackhand)%><br>
<h1>
<% if scoreboy(handjudger(blackhand)) > scoreboy(handjudger(redhand)) %> 
    Black Hand Wins With: <%= handjudger(blackhand)%>  <br>
<%elsif scoreboy(handjudger(redhand)) > scoreboy(handjudger(blackhand)) %>

    Red Hand Wins With: <%= handjudger(redhand)%> <br>
<%else%>
    <% tiebroken = tiebreaker(redhand,blackhand) %>
    <% if tiebroken == nil %>
      <br> Unbreakable Tie! <br>
    <% else %>
        <% if tiebroken == "Red Hand Wins"%>
        Red Hand Wins With: <%= handjudger(redhand)%>
        <% elsif tiebroken == "Black Hand Wins"%>
        Black Hand Wins with <%= handjudger(blackhand)%>
        <%end%>
    <%end%>
</h1>
<form method='post' action = '/page'>
    <input type='submit' value='Play Again?'>
</form>